.main {
  background-color: #EFF2F5;

}

.BannerNarrow {
  height: 120px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 95%;
  
}

.Widget-area {
  background-color: #EFF2F5;
  box-shadow: none;
  width: 290px;
  padding: 40px 20px;
  
}

.list-group-item {
  background-color: #EFF2F5;
  border: none;
  
}

div.subitem a.list-group-item {
  padding-left: 30px;
  border: none;
  
}

.Docs-title {
  margin-top: 0;
  margin-bottom: 30px;
  color: #003151;
}

.Blog-title {
  margin-top: 40px;
  margin-bottom: 30px;
  color: #003151;
}

p {
  margin-top: 40px;
  color: #A2A2A2;
  font-size: 14px;
  margin-bottom: 30px;
  
}

ol {
  color: #A2A2A2;
  font-size: 14px;
  
}

span.highlight {
  background-color: #F58B4C;
  color: #FFFFFF;
  padding: 4px;
  
}
