  /*==========  Mobile First Method  ==========*/
  /* Custom, iPhone Retina */
  
  @media only screen and (max-width: 400px) {
    
    .header-logo {
      display: none;
    }
    
    .brand {
      font-size: 8px;
    }
    
    .IconBox {
      width: 260px;
      height: 260px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 20px;
      border: 1px solid #DAE5F0;
    }
    
    h2 {
      text-align: center;
    }
    
    .Terminal-example {
      padding: 7px;
    }
    
    .m-b-md {
      font-size: 11px;
      line-height: 16px;
    }
    
    .FooterCopyright {
      margin-top: 10px;
    }
  }
  /* Extra Small Devices, Phones */
  
  @media only screen and (min-width: 480px) {
    .header-logo {
      margin-top: -15px;
      max-width: 30%;
    }
    
    .wrapper>.header {
      min-height: 30px;
    }
    
    .brand {
      font-size: 10px;
    }
    
    .BulletList--withHeader {
      text-align: center;
    }
    
    .IconBox {
      margin: 0 0 25px 0;
      padding: 5px;
      text-align: center;
    }
  }
  /* Small Devices, Tablets */
  
  @media only screen and (min-width: 768px) {
    .header-logo {
      margin-top: -15px;
      max-width: 30%;
    }
    
    .wrapper>.header {
      min-height: 30px;
    }
    
    .BulletList--withHeader {
      text-align: center;
      margin-bottom: 20px;
    }
    
    .BulletList--withHeader__IconBox, .UsedIn--IconBox {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
    
    .IconBox {
      width: 220px;
      height: 240px;
      background: #FFFFFF;
      line-height: 25px;
      border: 1px solid #DAE5F0;
      margin: 20px 15px 0 0 ;
    }
    
    .FooterCopyright {
      font-size: 13px;
      margin-top: 10px;
    }
  }
  /* Medium Devices, Desktops */
  
  @media only screen and (min-width: 992px) {
    .header-logo {
      margin-top: -45px;
      max-width: 35%;
    }
    
    .wrapper>.header {
      min-height: 30px;
    }
    
    .BulletList--withHeader__IconBox {
      display: flex;
      flex-direction: row;
      justify-content:center;
      align-items: center;
    }
    
    .IconBox {
      padding: 5px;
      width: 260px;
      height: 260px;
    }
    
    .BulletList--withHeader {
      margin-top: 130px;
    }
  }
  /* Large Devices, Wide Screens */
  
  @media only screen and (min-width: 1200px) {
    .header-logo {
      margin-top: -15px;
      max-width: 20%;
    }
    
    .BulletList--withHeader {
      margin-top: 130px;
      text-align: left;
    }
    
    .BulletList--withHeader__IconBox {
      display: block;
    }
    
    .IconBox {
      width: 260px;
      height: 260px;
      padding: 20px;
      float: inherit;
    }
  }