<div class="Widget">
  <div id="sidebar" class="list-group">
    <a href="#" class="list-group-item"><span style="font-family: 'Exo 2', sans-serif;">About</span></a>
    <a href="#users" class="list-group-item" data-toggle="collapse" data-parent="#sidebar"><i class="icon-group"></i><span style="font-family: 'Exo 2', sans-serif;">Our Latest Posts</span></a>
    <div id="users" class="list-group subitem collapse in">
      <a href="#" class="list-group-item">Kogi videoegan</a>
      <a href="#" class="list-group-item"></i>Authentic meggings</a>
      <a href="#" class="list-group-item"></i>Next level meditation</a>
      <a href="#" class="list-group-item"></i>Iuogi Jouhuk</a>
      <a href="#" class="list-group-item"></i>Meggings Authentic</a>
    </div>
  </div>
</div>